
@{
    ViewData["Title"] = "HomePage";
}
<style>
    #cardAligns {
        margin-left: 30px;
        margin-right: 30px;
        box-shadow: 2px 5px 5px 0px #080808;
        margin-top: 10px
    }
    .loginBtn {
        margin: 25px 40% 15px 40%
    }
    #headerAligns {
        text-align: center;
        margin-top: 10px;
    }
</style>
<div class="container-xl">
    <div>
        <center>
            <h1 style="  text-align: center;margin-top:30px;">CRM</h1>
            <h2 style="  text-align: center;margin-bottom:30px;font-style: oblique;">SWIFTSENSE</h2>
        </center>
    </div>

    <div>
        <div class="row">
            <div class="col-sm-12" style="background-color:darkblue;min-height:400px">
                <h2 style="text-align:center;margin-bottom:30px;margin-top:10px;color:white;font-family:ui-serif">LOGIN</h2>
                <div class="row">
                    <div class="offset-3"></div>
                    <div class="col-sm-3">
                        <div class="card" id="cardAligns">
                            <h4 id="headerAligns">EMPLOYEE</h4>
                            <button type="button" class="btn btn-sm btnColor loginBtn">Login</button>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card" id="cardAligns">
                            <h4 id="headerAligns">PAYROLL</h4>
                            <button type="button" class="btn btn-sm btnColor loginBtn">Login</button>
                        </div>
                    </div>
                    <div class="offset-3"></div>
                </div>
                <div class="row" style="margin-bottom:20px;">
                    <div class="offset-3"></div>
                    <div class="col-sm-3">
                        <div class="card" id="cardAligns">
                            <h4 id="headerAligns">HR</h4>
                            <button type="button" class="btn btn-sm btnColor loginBtn">Login</button>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card" id="cardAligns">
                            <h4 id="headerAligns">ADMIN</h4>
                            <button type="button" onclick="location.href='@Url.Action("LoginPage", "Login")'" class="btn btn-sm btnColor loginBtn">Login</button>
                        </div>
                    </div>
                    <div class="offset-3"></div>
                </div>
            </div>

        </div>
        
    </div>
</div>
