.invoicebg {
    background-color: #9EDFBF;
    /*background-image: url('../wwwroot/images/invoice bgtop.svg');
    background-image: url('../wwwroot/images/invoice bgbottom.svg');*/
    background-repeat: no-repeat;
    background-position: top;
}
