@model InvoiceMicroServices.WebMVC.AdminDashboard.Models.ClientDetails

@{
    ViewData["Title"] = "AddClientDetails";
}

<div class="container-xl">
    <div class="row">
        @{
            Html.RenderPartial("PartialLeftMenu");
        }
        <div class="col-md-10 menuMargin" style="margin-top:30px;">
            <form role="form" class="needs-validation" method="post" asp-action="Saveclientdetails" asp-controller="CRMDetails" enctype="multipart/form-data" novalidate>
                <div class="card" style="margin-top:20px;">
                    <div class="row">
                        <div class="col-sm-11 col-12">
                            <h4 style="margin:20px 0px 40px 20px;color:gray;">Client Details</h4>
                        </div>
                    </div>
                    <div class="form-row" style="padding-left:20px">
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label asp-for="name" class="control-label"></label>
                                <input asp-for="name" type="text" placeholder="Enter Client Name" class="form-control" />
                                <span asp-validation-for="name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label asp-for="address" class="control-label"></label>
                                <input asp-for="address" type="text" placeholder="Enter Address" class="form-control" />
                                <span asp-validation-for="address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label asp-for="countryCode" class="control-label"></label>
                                        <input asp-for="countryCode" type="text" placeholder="+91" class="form-control" />
                                        <span asp-validation-for="countryCode" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="form-group">
                                        <label asp-for="phone" class="control-label"></label>
                                        <input asp-for="phone" type="text" placeholder="Enter Phone Number" class="form-control" />
                                        <span asp-validation-for="phone" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label asp-for="email" class="control-label"></label>
                                <input asp-for="email" type="email" placeholder="Enter Email Address" class="form-control" />
                                <span asp-validation-for="email" class="text-danger"></span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row" style="padding-left:20px;padding-bottom:15px">
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="submit" class="btn btn-primary">Cancel</button>
                        </div>
                        <div class="col-sm-3">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

