@model InvoiceMicroServices.WebMVC.AdminDashboard.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "LoginPage";
}
<div class="container-xl">
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align: center;margin-top:30px;">CRM</h1>
        </div>
        <div class="col-sm-12">
            <h2 style="text-align: center;margin-bottom:30px;font-style:oblique;">SWIFTSENSE</h2>
        </div>
    </div>
        <div class="row">
            <div class="col-md-12" style="background-color:darkblue">
                <h2 style="text-align:center;margin-bottom:10px;margin-top:20px;color:white;font-family:ui-serif">LOGIN</h2>
                <div class="card" style="background-color:white;margin:20px 20% 40px 20%;box-shadow:2px 5px 5px 0px #080808;">
                    <div style="background-color:white;margin:20px 23% 20px 23%;">
                        <form role="form" class="needs-validation" asp-action="" asp-controller="" method="post" novalidate>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h3 style="text-align:center;margin-bottom:20px;margin-top:10px;">Admin</h3>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group" style="margin-top:5px">
                                        <label asp-for="email" class="control-label"></label>
                                        <input asp-for="email" type="email" placeholder="Enter Username" class="form-control" />
                                        <span asp-validation-for="email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label asp-for="password" class="control-label"></label>
                                        <input asp-for="password" type="password" placeholder="Enter Password" class="form-control" />
                                        <span asp-validation-for="password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                        <center> <button type="submit" class="btn btnColor">Login</button></center>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
