@model InvoiceMicroServices.WebMVC.AdminDashboard.ViewModels.UserManagement

@{
    ViewData["Title"] = "UserAccountType";
}

<div class="container-xl">
    <div class="row">
        @{
            Html.RenderPartial("PartialLeftMenu");
        }
        <div class="col-md-10 menuMargin" style="margin-top:30px;">
            <form role="form" class="needs-validation" method="get" enctype="multipart/form-data" novalidate>
                <div class="card" style="margin-top:20px;">
                    <div class="row">
                        <div class="col-sm-11 col-12">
                            <h4 style="margin:20px 0px 40px 20px;color:gray;">User Account</h4>
                        </div>
                        <div class="col-sm-1 col-12">
                            <button type="button" class="btn btnColor btn-sm" onclick="location.href='@Url.Action("UserManagement", "UserManagement")'" style="margin-top:30px;text-align:right">
                                <i class="fa fa-angle-double-left" aria-hidden="true"></i>&nbsp;Back
                            </button>
                        </div>
                    </div>
                    <div class="form-row" style="padding-left:20px">
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label asp-for="userId" class="control-label"></label>
                                <input asp-for="userId" type="number" placeholder="Enter Your User Id" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label asp-for="password" class="control-label"></label>
                                <input asp-for="password" type="number" placeholder="Enter Your Password" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-left:20px;padding-bottom:15px">
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-success">Save</button>
                            <button type="submit" class="btn btnColor">Update</button>
                            <button type="submit" class="btn btn-danger">Delete</button>

                        </div>
                        <div class="col-sm-3">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>