
@{
    ViewData["Title"] = "InvoiceTemplate";
}

<link href="~/Styles/InvoiceTemplate.css" rel="stylesheet"/>
<div class="row invoicebg" style="width:80%; margin-left:auto; margin-right:auto; background-image: url('../wwwroot/images/invoice bgtop.svg');">
    <div class="col-lg-12">

        <h4>INVOICE</h4>
        <br />
        <div class="row">
            <div class="col-lg-4">
                <h5>DATE</h5>
            </div>
            <div class="col-lg-4">
                <h5>INVOICE NO</h5>
                <br />
                <h6>SSIT 0046</h6>
                <br />
                <h5>INVOICE NO</h5>
                <br />
                <h6>AHRI-20190101</h6>
            </div>
            <div class="col-lg-4">
                <h5>SWIFTSENSE IT SOLUTIONS (OPC) Private Limited</h5>
                
                GST No. : 29ABBCS3672H1Z3
                <br />
                #403, 7th A Main, 1st Block HRBR Layout,
                <br />
                Bangalore, India – 560043
                <br />
                Phone : (+91) 7022531630
                <br />
                Email: psvishnu85@yahoo.co.uk
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-6">
                <h5>
                    AHRI (AIR-CONDITIONING,
                    HEATING AND REFRIGERATION
                    INSTITUTE)
                </h5>
                
                2311 Wilson Blvd, Suite 400,
                <br />
                Arlington, VA,
                <br />
                USA - 22201
                <br />
                Phone : +1 (703)5248800
                <br />
                Email : wfong@ahrinet.org

            </div>
            <div class="col-lg-6">

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr style="text-align:center;">
                            <th>
                                <h6>
                                    M1 Project<br />
                                    (GL Code: 7215-8-35-9191)
                                </h6>
                            </th>
                            <th>
                                <h6>
                                    Billing
                                    Rate / Hr
                                    (USD)
                                </h6>
                            </th>
                            <th>
                                <h6>
                                    No of
                                    Hours
                                </h6>
                            </th>
                            <th>
                                <h6>
                                    Total
                                    (USD)
                                </h6>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1) Tester 1</td>
                            <td>XXX</td>
                            <td>140</td>
                            <td>XXXX</td>

                        </tr>
                        <tr>
                            <td colspan="3">
                                <h6>TOTAL (USD)</h6>
                            </td>
                            <td>
                                <h6>XXXXX</h6>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12">
                <h5>
                    Payment Terms:
                </h5>

                1) Please make all payments payable to
                <h6>
                    <br />
                    SWIFTSENSE IT Solutions (OPC) Private Limited
                    <br />
                    Account Number – 50200036869869
                    <br />
                    BANK: HDFC BANK LIMITED
                    <br />
                    SWIFT CODE: HDFCINBBBNG
                </h6>
                <br /><br />
            </div>
            
        </div>

    </div>
</div>

