@model List<InvoiceMicroServices.WebMVC.AdminDashboard.Models.EmployeeDetails>
@{
    ViewData["Title"] = "BillingRate";
}

<div class="container-xl">
    <div class="row">
        @{
            Html.RenderPartial("PartialLeftMenu");
        }
        <div class="col-md-10 menuMargin" style="margin-top:30px;">
            <div class="card" style="min-height:220px;margin-top:10px;padding-left:10px;padding-right:10px">
                <div class="row">

                    <h4 style="margin:20px 0px 40px 20px;color:gray;">Billing Rate/Hour</h4>

                </div>
                <form role="form" method="post" asp-action="BillingRate" asp-controller="Billing" >
                    <div class="form-row" style="padding-left:20px">

                        @if (Model != null)
                        {

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label  class="control-label">Employee Name</label>

                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Rate/hr</label>

                                </div>
                            </div>
                            @*<div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="selectedCurrency" class="control-label"></label>

                                </div>
                            </div>*@
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">No Of Hours</label>

                                </div>
                            </div>
                            foreach (var item in Model)
                            {
                                Html.RenderPartial("Partial_Employeedetails",item);
                            }

                        }
                        else
                        {
                            <div class="col-sm-12">
                                <p> <center>No Record Found</center> </p>
                            </div>
                        }


                    </div>



                                <div class="">
                                    <input type="submit" class="btn btnColor"  value="Next" />
                                    <button type="button" class="btn btnColor" onclick="location.href='@Url.Action("billingmonth", "Billing")'">Back</button>
                                </div>
</form>
            </div>
        </div>
    </div>
</div>